@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
    height:100vh;display:flex;align-items:center;justify-content: center;background-image: url('ChatGPT\ Image\ Sep\ 29\,\ 2025\,\ 04_08_57\ PM.png');
    background-size:cover;
}
#div1{
    display:flex;gap:30px;flex-direction:column;justify-content: center;align-items: center;
}
#div1 div{
   width:270px;height:50px;border-radius:5px;background-color: rgba(0, 0, 0, 0.692);font-size:30px;
    display: flex;align-items: center;justify-content: center;opacity:1;
    cursor:pointer;color:white;
}
#i1:hover{
box-shadow: 0 4px 15px rgba(1, 245, 54, 0.973);
}
#i2:hover{
box-shadow: 0 4px 15px rgba(1, 229, 245, 0.966);
}
#i3:hover{
box-shadow: 0 4px 15px rgba(13, 1, 192, 0.918);
}