@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
    background-color:#111;color:white;font-family:Poppins, sans-serif;display:flex;flex-direction: column;
}
#head{
    background-color:rgba(255, 0, 0, 0.705);color:white;font-family:Poppins, sans-serif;display: flex;flex-direction: column;
}
#nav{
    display:flex;justify-content:end;gap:20px;margin-right:5px;
}
nav a{
    color:white;
}
header h1{
    text-align:center;
}
header h1::before{
content:url('icon2.png');
position:relative;top:10px;left:-5px;
}
nav a:hover{
    text-decoration:none;
}
header button{
    background-color:white;border-radius:8px;color:rgba(255, 0, 0, 0.705);border:solid rgba(255, 0, 0, 0.705) 1px;cursor:pointer;width: fit-content;align-self: center;
}
#h2{
    text-align:center;
}
 #h22{
text-decoration:underline;
}
main section{
    display:flex;gap:100px;margin-bottom: 20px;flex-direction: row;
}
section button{
    border-radius:50%;background-color:tomato;color:black;border:solid tomato 1px;font-family: Poppins, sans-serif;cursor:pointer;
}
main p {
    margin-bottom: 20px;
}
#h23{
    text-decoration:underline;
}
#h24{
    text-decoration: underline;
}
#I1{
    width:100%;height:100vh;background-color:#1111119a;position:fixed;top:0;left:0;display:none;overflow:hidden;justify-content: center;align-items: center;
}
#I2{
    width:300px;height:190px;background-color: aliceblue;border-radius:10px;justify-content: center;color:#111;padding:10px;
}
#I2 input{
    width:90%;height: 20%;display:block;border-radius:5px;
}
#I3{
    display: flex;gap:190px;
}
#I5{
    background-color:tomato;color:white;font-family: Poppins, arial;border-radius:5px;border:solid tomato 1px;
}

#I4{
    background-color:rgb(0, 255, 55);color:white;font-family: Poppins, arial;border-radius:5px;border:solid rgb(0, 255, 55) 1px;
}
#p1{
    text-align: center;color:rgba(255, 0, 0, 0.705);width:fit-content;padding:3px;border-radius:3px;background-color:white;align-self: center;
}
footer{
    display: flex;flex-direction: column;
}
footer h3{
    text-align: center;
}
@media (max-width:720px){
   main section{
    flex-direction: column;gap:10px;
   }
   #head{
    background-color:#FFFFFF;color:black;
   }
    #a1, #a2, #a3{
        color:#111;
    }
    #nav{
    justify-content: space-between;
    }

}
